{{ partial "default_head.html" . }}
<a href="https://github.com/{{ .Site.Params.Github }}/{{.Title}}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
<div class="row">
    <div class="col-md-8">
        <article class="post">
            <div class="post-content">
                {{ .Content }}
            </div>

            <aside>
                {{ $baseurl := .Site.BaseURL }}
                <ul class="list-inline post-tags">
                    {{ range .Params.tags }}
                    <li>
                        <a href="{{ $baseurl }}/tags/{{ . | urlize }}">
                            <i class="fa fa-tags"></i>
                            {{ . }}
                        </a>
                    </li>
                    {{ end }}
                </ul>


            </aside>
            <!-- Pagination. -->
            <footer>

                <nav>
                    <ul class="pager">

                        {{ if .Prev }}
                        <li class="previous"><a href="{{ .Prev.Permalink }}"><span aria-hidden="true">&larr;</span> Older</a></li>
                        {{ else }}
                        <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                        {{ end }}

                        <li><a href="{{ .Site.BaseURL }}/post">All Posts</a></li>

                        {{ if .Next }}
                        <li class="next"><a href="{{ .Next.Permalink }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
                        {{ else }}
                        <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
                        {{ end }}

                    </ul>
                </nav>

                {{ if isset .Site.Params "Disqus" }}
                {{ if .Params.comments }}
                <!-- disqus. -->
                <div id="disqus_thread"></div>
                <script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = '{{ .Site.Params.Disqus }}'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                {{ end }}
                {{ end }}
            </footer>

        </article>
    </div>
    <div class="col-md-4">
        {{ partial "project_sidebar.html" . }}
    </div>
</div>

{{ partial "default_foot.html" . }}
