pre {
    padding: 0;
}

pre code {
    padding: .5em;
    display: block;
}

nav.navbar {
    margin: 5px;
}

header.nav {
    margin-bottom: 50px;
}

.post-title {
    margin-top: 0;
}

.post-content {
    margin-bottom: 20px;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5 {
    margin-top: 40px;
}

.post-tags,
.post-rels {
    margin-bottom: 50px;
}

footer.copy {
    padding: 20px 0;
}

/* Google Custom Search box */

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button,
.gsc-inline-block {
  box-sizing: content-box;
  line-height: normal;
}

.gsc-control-cse {
  padding: 0.1em 0 0.5em 1em !important;
  width: 16em !important;
  float: right;
}

input.gsc-search-button-v2 {
  padding: 6px 12px !important;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
  padding-right: 1px !important;
}

.read-more {
    font-weight: 800;
    color: #333333;
    
}

.links a,.links a:visited,.links a:hover,.links a:active{
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
      position:relative;
    transition:0.5s color ease;
      text-decoration:none;
      color:#81b3d2;
      font-size:2.5em;
  }
.links a:hover{
      color:#ffab23;
  }
  
.links a.before:before,.links a.after:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
    position:absolute;
  }
.links a.before:before{
    top:-0.25em;
  }
.links a.after:after{
    bottom:-0.25em;
  }
.links a.before:before,.links a.after:after{
    height:5px;
    height:0.35rem;
    width:0;
    background:#ffab23;
  }

.links a.center:after{
    left:50%;
    -webkit-transform:translateX(-50%);
            transform:translateX(-50%);
}

.links a.before:hover:before,.links a.after:hover:after{
    width:100%;
}
.square{
    box-sizing:border-box;
    margin-left:-0.4em;
    position:relative;
    font-size:2.5em;
    overflow:hidden;
}

.square a{
    position:static;
    font-size:100%;
    padding:0.2em 0.4em;
}

.square:before,.square:after{
    content: "";
    box-sizing:border-box;
    transition:0.25s all ease;
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
    position:absolute;
    width:5px;
    width:0.35rem;
    height:0;
    background:#ffab23;
}

.square:before{
    left:0;
    bottom:-0.2em;
}

.square.individual:before{
    transition-delay:0.6s;
}

.square:after{
    right:0;
    top:-0.2em;
}

.square.individual:after{
    transition-delay:0.2s;
}

.square a:before{
    left:0;
    transition:0.25s all ease;
}

.square a:after{
    right:0;
    transition:0.25s all ease;
}

.square.individual a:after{
    transition:0.25s all ease 0.4s;
}
.square:hover:before,.square:hover:after{
    height:calc(100% + 0.4em);
}

.square:hover a:before,.square:hover a:after{
    width:100%;
}
