pre {
    padding: 0;
}

pre code {
    padding: .5em;
    display: block;
}

nav.navbar {
    margin: 5px;
}

header.nav {
    margin-bottom: 50px;
}

.post-title {
    margin-top: 0;
}

.post-content {
    margin-bottom: 20px;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5 {
    margin-top: 40px;
}

.post-tags,
.post-rels {
    margin-bottom: 50px;
}

footer.copy {
    padding: 20px 0;
}

/* Google Custom Search box */

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button,
.gsc-inline-block {
  box-sizing: content-box;
  line-height: normal;
}

.gsc-control-cse {
  padding: 0.1em 0 0.5em 1em !important;
  width: 16em !important;
  float: right;
}

input.gsc-search-button-v2 {
  padding: 6px 12px !important;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
  padding-right: 1px !important;
}
