
<aside>
    <div class="row">
    {{ if .IsPage }}
    <div class="col-xs-12 col-sm-4 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Table Of Contents</h2>
            </div>

                {{ .TableOfContents }}

        </div>
    </div>

    {{end}}
        <div class="col-xs-12 col-sm-4 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Recent Posts</h2>
                </div>
                <div class="list-group">
                    {{range first 10 (where .Site.Pages "Section" "post")}}
                    <a href="{{.RelPermalink}}" class="list-group-item">{{ .Title }}</a>
                    {{ end }}
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Tags</h2>
                </div>
                <div class="list-group">
                    {{ $baseurl := .Site.BaseURL }}
                    {{ range $name, $value := .Site.Taxonomies.tags }}
                    <!--a href="{{ $baseurl }}/tags/{{ $name | urlize }}" style="font-size: {{ add 8 (mul 3 $value.Count) }}px;"-->
                    <a href="{{ $baseurl }}/tags/{{ $name | urlize }}" class="list-group-item">
                        <span class="badge">{{ .Count }}</span>
                        {{ $name }}
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Disclaimer</h2>
                </div>
    }
The information in this blog is provided “AS IS” with no warranties, and confers no rights. This blog does not represent the thoughts, intentions, plans or strategies of my employer. It is solely my opinion.
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">License</h2>
                </div>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            </div>
        </div>
    </div>
</aside>
